.text-cent{
    font-size: 50px;
    text-align: left;
    margin-top: 40px    ;
}
.centerImg{
    width: 400px;
    height: 250px;
    float: right;
    margin-top: -50px;
}
.text-break{
    white-space: pre;
}
ul li {
    list-style: none;
    padding-bottom: 4px;
    font-size: 22px;
}